@{
    ViewData["Title"] = "Index";
}

<section class="text-center min-vh-80 justify-content-center" style="color: #D2E9C4; align-items: center; justify-content: center; justify-items: center;>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="display-4" style="color: #3C4748; margin-top: 5rem;">Receba sugestões personalizadas para você</h5>
                
                <!-- Saudação personalizada para meus clientes -->
                <h6 class="mb-4">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {

                        var nomeUsuario = User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value;
                        @* Exibe o nome do usuário se ele estiver logado *@
                        <span style="color: blue;">Bem-vindo, @User.Identity.Name!</span>
                        
                        // Busca o ID do usuário autenticado a partir das claims
                        var idUsuario = User.Claims.FirstOrDefault(c => c.Type == "IdUsuario")?.Value;

                        // Exibe o ID do usuário
                        <span style="color: blue;">Meu ID: @idUsuario</span>
                    }
                    else
                    {
                        @* Exibe "Visitante" se o usuário não estiver logado *@
                        <span style="color: blue;">Bem-vindo, Visitante! Faça seu login para acessar suas informações personalizadas.</span>
                    
                    }
                </h6>

                <div class="d-flex justify-content-center gap-5" style="justify-content: center; align-items: center; align-content: center; justify-items: center;">

                    <div class="d-flex justify-content-center mt-4">
                            <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 22rem;">
                                <img
                                    alt="Card"
                                    src="/assets/Home/imagem1.jpg"
                                    class="img-fluid"
                                    style="height: 200px; object-fit: contains;"
                                />
                                <div class="card-body">
                                    <h3 class="card-title w-100" style="color: blue;">Usuário</h3>
                                    <p style="color: #3C4748; text-align: start;">
                                        Avalie seus dados cadastrais básicos e modifique a qualquer momento, base clicar aqui.
                                    </p>
                                    <a href="@Url.Action("Consultar", "Usuario")" class="btn btn-custom w-100">
                                        clique aqui <i class="pi pi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                            <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 22rem;">
                                <img
                                    alt="Card"
                                    src="/assets/Home/imagem4.png"
                                    class="img-fluid"
                                    style="height: 200px; object-fit: contains;"
                                />
                                <div class="card-body">
                                    <h3 class="card-title w-100" style="color: blue;">Endereco</h3>
                                    <p style="color: #3C4748; text-align: start;">
                                        Cadastre-se seu endereco para que possamos te indicar os melhores servicos perto de sua preferencia.
                                    </p>
                                    <a href="@Url.Action("Criar", "Endereco")" class="btn btn-custom w-100">
                                        clique aqui <i class="pi pi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                            <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 22rem;">
                                <img
                                    alt="Card"
                                    src="/assets/Home/imagem5.png"
                                    class="img-fluid"
                                    style="height: 200px; object-fit: contains;"
                                />
                                <div class="card-body">
                                    <h3 class="card-title w-100" style="color: blue;">Dias Preferencia</h3>
                                    <p style="color: #3C4748; text-align: start;">
                                        Cadastre-se seus dias de preferencia, lembrando que são aqueles que você desejar.
                                    </p>
                                    <a href="@Url.Action("Criar", "DiasPreferencia")" class="btn btn-custom w-100">
                                        clique aqui <i class="pi pi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                            <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 22rem;">
                                <img
                                    alt="Card"
                                    src="/assets/Home/imagem6.png"
                                    class="img-fluid"
                                    style="height: 200px; object-fit: contains;"
                                />
                                <div class="card-body">
                                    <h3 class="card-title w-100" style="color: blue;">Turno Preferencia</h3>
                                    <p style="color: #3C4748; text-align: start;">
                                        Cadastre-se seus turnos de preferencia, lembrando que são aqueles que você desejar.
                                    </p>
                                    <a href="@Url.Action("Criar", "Turno")" class="btn btn-custom w-100">
                                        clique aqui <i class="pi pi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                            <div class="card shadow-lg rounded-lg overflow-hidden" style="max-width: 22rem;">
                                <img
                                    alt="Card"
                                    src="/assets/Home/imagem9.png"
                                    class="img-fluid"
                                    style="height: 200px; object-fit: cover;"
                                />
                                <div class="card-body">
                                    <h3 class="card-title w-100" style="color: blue;">Horários Preferencia</h3>
                                    <p style="color: #3C4748; text-align: start;">
                                        Cadastre-se seus horários de preferencia, lembrando que são aqueles que você desejar.
                                    </p>
                                    <a href="@Url.Action("Criar", "Sugestao")" class="btn btn-custom w-100">
                                        clique aqui <i class="pi pi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>